[tool.poetry]
name = "asynkit"
version = "0.10.5"
description = "A toolkit for Python coroutines"
authors = ["Kristján Valur Jónsson <sweskman@gmail.com>"]
repository = "https://github.com/kristjanvalur/py-asynkit"
readme = "README.md"
keywords = ["asyncio", "eventloop"]
license = "MIT"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Framework :: AsyncIO"
]
include=["src/asynkit/py.typed"]

[tool.poe.tasks]
lint = "ruff ."
black = "black ."
test = "pytest tests examples"
cov = "pytest --cov=asynkit --cov-report term-missing --cov-branch"
typing = "mypy -p asynkit -p tests -p examples"

[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = "^4.4.0"

[tool.poetry.group.dev.dependencies]
mypy = "^0.991"
black = "^22.3.0"
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
poethepoet = "^0.13.1"
ruff = "~0.0.190"
anyio = {extras = ["trio"], version = ">=3.6.0 <3.7.0"}  # typing introduced in 3.7
blacken-docs = "^1.13.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
#addopts = "-ra -q"
python_files = [
    "test_*.py",
    "example_*.py",
]
testpaths = [
    "tests",
]
filterwarnings = [
    'ignore:You seem to already have a custom sys.excepthook:RuntimeWarning'
]

[tool.ruff]
select = [
    "E", "F", "I",
]
src = ["src", ]
# Ignore `F401` (unused import) in all `__init__.py` files
# Ignore `F403` (importing *) in all `__init__.py` files
[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.mypy]

[[tool.mypy.overrides]]
module = "asynkit.*"
strict = true

[[tool.mypy.overrides]]
module = ["tests.*", "examples.*"]
check_untyped_defs = false
allow_untyped_defs = true
allow_untyped_calls = true

[[tool.mypy.overrides]]
module = [
    "asynkit.compat",
    "asynkit.experimental.interrupt",
    "asynkit.loop.eventloop",
    "asynkit.tools",
    "tests.test_coro",
]
warn_unused_ignores=false

[[tool.mypy.overrides]]
module = "asynkit.compat"
disable_error_code="call-arg"


[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "@overload",
  "@abstractmethod",
  "assert False",
  "TYPE_CHECKING",
  ]