[tool.poetry]
name = "asynkit"
version = "0.3.0"
description = "Async toolkit for advanced scheduling"
authors = ["Kristján Valur Jónsson <sweskman@gmail.com>"]
repository = "https://github.com/kristjanvalur/py-asynkit"
readme = "README.md"
keywords = ["asyncio", "eventloop"]
license = "MIT"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Framework :: AsyncIO"
]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pytest = "^7.1.1"
pytest-asyncio = "^0.18.3"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"
#addopts = "-ra -q"
testpaths = [
    "tests",
]
